boilerplate/*.o
boilerplate/*.ko
boilerplate/*.mod
boilerplate/*.mod.c
boilerplate/*.mod.o
boilerplate/Module.symvers
boilerplate/modules.order
boilerplate/engine
boilerplate/cpu_hog
boilerplate/memory_hog
boilerplate/io_pulse
boilerplate/logs/
rootfs-*/
boilerplate/rootfs-*/
*.tar.gz
boilerplate/.*.cmd
